body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgba(228,249,245,100);
    font-family: 'Montserrat', sans-serif;
    color: #40514E;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/images/skyline r34.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    z-index: -2;
}

body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(228,249,245);
        background: linear-gradient(180deg, rgba(228,249,245,0.7) 0%, rgba(128,255,231,1) 100%);
    z-index: -1;
}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.logo-text{
    text-decoration: none;
    font-size: 48px;
    margin: 0px 40px;
    color: #11999E;
}

.nav{
    display: flex;
    flex-direction: row;
    margin: 0 40px;
    border-radius: 10px;
}

.nav-button{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
    transition: 0.3s;
    border-radius: 10px;

}

.nav-text{
    color: #40514E;
    text-decoration: none;
    transition: 0.3s;
}



@media screen and (min-width: 1295px) {
    .nav-button:hover{
        background-color: rgba(64, 81, 78, 0.7);
        border-radius: 10px;
        padding: 5px 20px;
        backdrop-filter: blur(5px);
    }

    .nav-button:hover > .nav-text{
        color: #30E3CA;
    }

    .nav-button:hover > svg{
        fill: #30E3CA;
    }
}

.nav-button > svg{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    fill: #40514E;
    transition: 0.3s;
}




.hero{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.hero-section{
    width: 35vw;
    font-size: 30px;
    animation: appearing 0.5s;
}

.hero-main-text{
    font-size: 60px;
}

.hero-sub-text{
    font-size: 30px;
}

.car-image{
    position: relative;
    aspect-ratio: 15/10;
    width: 700px;
    z-index: 2;
}

.car-image-container{
    position: relative;
}

.car-image-container::after{
    position: absolute;
    content: '';
    width: 600px;
    height: 400px;
    top: 60px;
    left: 0;
    background-color: yellow;
    z-index: 0;
    border-radius: 400px 100px 400px 100px;
}


.footer{
    position: absolute;
    left: 40px;
    bottom: 10px;
}



@keyframes appearing {
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
       opacity: 1;
    }
}

@media screen and (max-width: 1294px) {

    .nav{
        position: relative;
        flex-direction: column;
        z-index: 2;
        height: 40px;

        border-radius: 20px 0px 0px 20px;
        overflow: hidden;
        margin: 0px;
        align-items: center;
        z-index: 5;

    }

    .nav::before{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(0,0,0, 10%);

        backdrop-filter: blur(10px);
        z-index: -1;
    }

    .nav:hover{
        transform: translateY(45%);
        margin-top: 33px;
        height: calc(100vh - 40px);
        border-radius: 20px 0px 0px 0px;
    }

    .nav-button{
        font-size: 30px;
        height: 60px;
    }

    .hero-main-text{
        font-size: 40px;
    }

    .hero-sub-text{
        font-size: 20px;
    }

    .car-image{
        width:  500px;
    }

    .car-image-container::after{
        width: 500px;
        height: 300px;
    }

    .nav-button{
        width: 100%;
        border-radius: 0px;
    }

    .nav-text{
        padding: 0px 10px;
    }

    .nav-button:hover{
        background-color: rgba(64, 81, 78, 0.7);
        backdrop-filter: blur(5px);
    }

    .nav-button:hover > .nav-text{
        color: #30E3CA;
    }

    .nav-button:hover > svg{
        fill: #30E3CA;
    }
}

@media screen and (max-width: 1000px) {



    .nav-button{
        font-size: 30px;
    }
    .nav-button > svg{
        width: 30px;
        height: 30px;
    }
    .hero > svg{
        width: 200px;
        height: 200px;
    }

    .car-image{
        width: 40vw;
    }

    .car-image-container::after{
        top: 5vw;
        width: 35vw;
        height: 20vw;
    }
}

@media screen and (max-width: 472px) {

    .logo-text{
        margin: 0px 10px;
    }

    .footer{
        left: 10px;
    }

    .hero-section{
        font-size: 20px;
    }
    .hero > svg{
        width: 150px;
        height: 150px;
    }

    .car-image{
        width: 200px;
    }

}




